<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @list.user.first_name %>
</p>

<p>
  <b>List name:</b>
  <%= @list.list_name %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
