<div class="user-list clearfix">
	<div class="user-list-name" id="list-name-<%= @list.id %>">
  		<%= @list.list_name %>
	</div>
	<div class="edit-list-form clearfix" id="list-form-<%= @list.id %>">
		<%= render 'form' %>
	</div>
	<div class="user-list-options">
		<a href="javascript:void(0);" class="edit-list-button" id="edit-list-<%= @list.id %>">Edit</a>
    	<%= link_to 'Destroy', @list, :confirm => 'Are you sure?', :method => :delete %>
	</div>
</div>

<ul class="grocery-messages">
</ul>

<div class="grocery-items">
<% @groceries.order('created_at DESC').each do |grocery| %>
  <%= render :partial => 'groceries/grocery-inline', :locals => { :grocery_item => grocery } %>
<% end %>
</div>

<a href="javascript:void(0);" class="new-grocery-button">New Grocery Item</a>

<div class="new-grocery-form">
	<%= render :partial => 'groceries/form', :locals => { :the_list_id => @list.id } %>
</div>

<p>
	<%= link_to 'Back', lists_path %>
</p>
