<%= form_for(@grocery) do |f| %>
  <% if @grocery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grocery.errors.count, "error") %> prohibited this grocery from being saved:</h2>

      <ul>
      <% @grocery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :list %><br />
    <%= f.text_field :list %>
  </div>
  <div class="field">
    <%= f.label :grocery_name %><br />
    <%= f.text_field :grocery_name %>
  </div>
  <div class="field">
    <%= f.label :unit_increment %><br />
    <%= f.text_field :unit_increment %>
  </div>
  <div class="field">
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :upc_code %><br />
    <%= f.number_field :upc_code %>
  </div>
  <div class="field">
    <%= f.label :current_amount %><br />
    <%= f.text_field :current_amount %>
  </div>
  <div class="field">
    <%= f.label :use_per_day %><br />
    <%= f.text_field :use_per_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
