<% 	
if defined? grocery_item
	grocery = grocery_item
else
	grocery = @grocery
end	
%>

<%= form_for(grocery) do |f| %>
  <% if grocery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grocery.errors.count, "error") %> prohibited this grocery from being saved:</h2>

      <ul>
      <% grocery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	You are currently
	<div class="field">
    	<%= f.number_field :current_amount, :placeholder => "50%", :step => "10", :min => "0", :max => "100" %>
  	</div>
	% stocked on <%= grocery.grocery_name %>.
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>
