<% 	
if defined? grocery_item
	grocery = grocery_item
else
	grocery = @grocery
end	
%>

<%= form_for(grocery) do |f| %>
  <% if grocery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(grocery.errors.count, "error") %> prohibited this grocery from being saved:</h2>

      <ul>
      <% grocery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	You use
	<div class="field">
	    <%= f.number_field :unit_increment, :placeholder => "1.0", :step => "0.1", :min => "0", :max => "9999" %>
	</div>
	<div class="field">
		<% grouped_options = [
				['Generic Measurements', [
					['Bag(s)', 'bag'],
					['Bar(s)', 'bar'],
					['Bottle(s)', 'bottle'],
					['Box(es)', 'box'],
					['Can(s)', 'can'],
					['Dozen', 'dozen'],
					['Individual', 'individual'],
					['Jar(s)', 'jar'],
					['Package(s)', 'package'],
				]],
				['Volume Measurements', [
					['Gallon(s)', 'gallon'], 
					['Liter(s)', 'liter'], 
					['Milliliter(s)', 'milliliter'], 
					['Pint(s)', 'pint'],
					['Quart(s)', 'quart']
				]],
				['Weight Measurements', [
					['Ounce(s)', 'ounce'],  
					['Pound(s)', 'pound']
				]],
			] %>
	    <%= select_tag "grocery[unit]", grouped_options_for_select(grouped_options, 'gallon') %>
	</div>
	of
  	<div class="field">
    	<%= f.text_field :grocery_name, :placeholder => "2% Milk", :size => "20" %>
  	</div>
	every
	<div class="field">
    	<%= f.number_field :number_of_days, :placeholder => "4", :step => "1", :min => "0", :max => "9999" %>
  	</div>
  	<div class="field">
    	<%= f.select :unit_of_time_estimated, [['Day(s)', 1], ['Week(s)', 7], ['Month(s)', 30]] %>
  	</div>
  	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end %>
