<% 	
if defined? grocery_item
	grocery = grocery_item
else
	grocery = @grocery
end	
%>

<div class="grocery-item">
  <span><%= grocery.grocery_name %></span>
  <span><%= grocery.unit_increment %></span>
  <span><%= grocery.unit %></span>
  <span><%= grocery.current_amount %></span>
  <span><%= grocery.use_per_day_estimate %></span>
  <span><%= link_to 'Show', grocery %></span>
  <span><%= link_to 'Edit', edit_grocery_path(grocery) %></span>
  <span><%= link_to 'Destroy', grocery, :confirm => 'Are you sure?', :method => :delete %></span>
</div>