<p id="notice"><%= notice %></p>

<p>
  <b>List:</b>
  <%= @grocery.list %>
</p>

<p>
  <b>Grocery name:</b>
  <%= @grocery.grocery_name %>
</p>

<p>
  <b>Increment:</b>
  <%= @grocery.increment %>
</p>

<p>
  <b>Unit:</b>
  <%= @grocery.unit %>
</p>

<p>
  <b>Upc code:</b>
  <%= @grocery.upc_code %>
</p>

<p>
  <b>Current amount:</b>
  <%= @grocery.current_amount %>
</p>

<p>
  <b>Use per day:</b>
  <%= @grocery.use_per_day %>
</p>


<%= link_to 'Edit', edit_grocery_path(@grocery) %> |
<%= link_to 'Back', groceries_path %>
