<p id="notice"><%= notice %></p>

<p>
  <b>Grocery name:</b>
  <%= @grocery.grocery_name %>
</p>

<p>
  <b>Increment:</b>
  <%= @grocery.unit_increment %>
</p>

<p>
  <b>Unit:</b>
  <%= @grocery.unit %>
</p>

<p>
  <b>Current amount:</b>
  <%= @grocery.current_amount %>
</p>

<p>
  <b>Use per day:</b>
  <%= @grocery.use_per_day_estimate %>
</p>
